<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
	
		<services>
			<service name="ToDoWebService.ToDoWS" behaviorConfiguration="ToDoWebService.ToDoWSBehavior">
				<endpoint address="../ToDoWS.svc"
					binding="webHttpBinding"
					contract="ToDoWebService.IToDoWS"
					behaviorConfiguration="webBehaviour" />
			</service>
		</services>
		<bindings>
			<webHttpBinding>
				<binding name="webHttpBindingWithJSONP" />
			</webHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ToDoWebService.ToDoWSBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="webBehaviour">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

</configuration>

